<footer class="c-footer">
	<div class="u-center u-center--wide">
		<p class="c-footer__title">
			<a class="c-footer__title-link" href="{{ home_path }}">{{
				site.title
			}}</a>
		</p>
		<ul class="c-footer__nav-list">
			<li class="c-footer__nav-item">
				<a class="c-footer__nav-link" href="{{ about_post.path }}">{{
					about_post.title
				}}</a>
			</li>
			<li class="c-footer__nav-item">
				<a class="c-footer__nav-link" href="{{ news_post_type.path }}">{{
					news_post_type.label
				}}</a>
			</li>
			<li class="c-footer__nav-item">
				<a class="c-footer__nav-link" href="{{ privacy_policy_post.path }}">{{
					privacy_policy_post.title
				}}</a>
			</li>
		</ul>
	</div>
</footer>
