{# Support custom "anchor" values. #}
{% set anchor = '' %}
{% if block.anchor %}
	{% set anchor = 'id="' ~ block.anchor|e('html_attr') ~ '" ' %}
{% endif %}

{# Create class attribute allowing for custom "className" and "align" values. #}
{% set class_name = 'acf-block-testimonial' %}
{% if block.className %}
	{% set class_name = class_name ~ ' ' ~ block.className %}
{% endif %}
{% if block.align %}
	{% set class_name = class_name ~ ' align' ~ block.align %}
{% endif %}

{# Load values and assign defaults. #}
{% set text = fields.testimonial ?: 'Your testimonial here...' %}
{% set author = fields.author ?: 'Author name' %}
{% set author_role = fields.role ?: 'Author role' %}
{% set image = fields.image %}
{% set background_color = fields.background_color %}
{% set text_color = fields.text_color %}

{# Build a valid style attribute for background and text colors. #}
{% set styles = ["background-color: " ~ background_color, "color: " ~ text_color]|join('; ') %}

<div {{ anchor }}class="{{ class_name|e('html_attr') }}" style="{{ styles|e('html_attr') }}">
	{{
		function(
			'wp_get_attachment_image',
			image,
			'full',
			false,
			{
				class: 'aspect-video'
			}
		)
	}}
	<figure class="p-6">
		<blockquote class="font-serif text-3xl">
			<p>{{ text|e('html') }}</p>
		</blockquote>
		<figcaption class="mt-6 text-right opacity-90">
			<span class="block font-bold">{{ author|e('html') }}</span>
			<span class="block text-sm">{{ author_role|e('html') }}</span>
		</figcaption>
	</figure>
</div>
