{% set id = 'testimonial-' ~ block.id %}
{% if block.anchor %}
	{% set id = block.anchor %}
{% endif %}

{% set text = fields.testiominal ? : 'Your testimonial here...' %}
{% set author = fields.author ? : 'Author name' %}
{% set role = fields.role ? : 'Author role' %}
{% set image = fields.image %}
{% set background_color = fields.background_color %}
{% set text_color = fields.text_color %}

<div id="{{ id }}" class="p-4 border">
	<figure>
		<blockquote class="text-2xl">
			<p>
				{{ text }}
			</p>
		</blockquote>

		<figcaption class="text-sm">
			{{ author }} ({{ role }})
		</figcaption>
	</figure>

	{% if image %}
		<p>
			{{
				function(
					'wp_get_attachment_image',
					image,
					'full'
				)
			}}
		</p>
	{% endif %}

	<style>
		#{{ id }} {
			background: {{ background_color }};
			color: {{ text_color }};
		}
	</style>
</div>
