<footer class="footer">
	<div class="center center--wide">
		<p class="footer__title"><a class="footer__title-link" href="{{ home_path }}">{{ site.title }}</a></p>
		<ul class="footer__nav-list">
			<li class="footer__nav-item"><a class="footer__nav-link" href="{{ about_post.path }}">{{ about_post.title }}</a></li>
			<li class="footer__nav-item"><a class="footer__nav-link" href="{{ news_post_type.path }}">{{ news_post_type.label }}</a></li>
			<li class="footer__nav-item"><a class="footer__nav-link" href="{{ privacy_policy_post.path }}">{{ privacy_policy_post.title }}</a></li>
		</ul>
	</div>
</footer>
