{% extends 'base.twig' %}

{% block content %}
	<main class="p-4 space-y-8">
		<h1>
			ホーム
		</h1>

		<section>
			<h2>
				投稿
			</h2>

			<ol>
				{% for post in posts %}
					<li><a href="{{ post.link }}">{{ post.title }}</a></li>
				{% endfor %}
			</ol>
		</section>

		<section>
			<h2>
				{{ work_post_type.label }}
			</h2>

			<ol>
				{% for post in work_posts %}
					<li><a href="{{ post.link }}">{{ post.title }}</a></li>
				{% endfor %}
			</ol>

			<p>
				<a href="{{ work_post_type.link }}">さらに表示</a>
			</p>
		</section>
	</main>
{% endblock %}
