<!DOCTYPE html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width">
    {{ function('wp_head') }}
  </head>

  <body
    class="{{ body_class }}"
    data-controller="header-modal"
    data-action="keydown@window->header-modal#closeIfEscapeKeyIsPressed"
  >
    <div data-target="header-modal.outside">
      {% include 'partial/header.twig' %}

      {% block before_main %}{% endblock %}
      <main>
        {% block main %}{% endblock %}
      </main>
      {% block after_main %}{% endblock %}

      {% include 'partial/footer.twig' %}
    </div>

    {% include 'partial/header-modal.twig' %}

    {{ function('wp_footer') }}
  </body>
</html>
