{% extends "base.twig" %}

{% block main %}
	<h1 class="visually-hidden">{{ site.title }} ホーム</h1>

	<div class="center">
		<p><img src="{{ asset_path('ogp.png') }}" width="1200" height="630" alt="" loading="lazy"></p>

		<section>
			<h2>{{ about_post.title }}</h2>
			<p><a href="{{ about_post.path }}">さらに詳しく</a></p>
		</section>

		<section>
			<h2>{{ news_post_type.label }}</h2>
			<ol>
				{% for post in news_posts %}
				<li><a href="{{ post.path }}">{{ post.title }}</a></li>
				{% endfor %}
			</ol>
			<p><a href="{{ news_post_type.path }}">さらに表示</a></p>
		</section>
	</div>
{% endblock %}
