<!DOCTYPE html>
<html {{ site.language_attributes }}>
	<head>
		<meta charset="{{ site.charset }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="format-detection" content="telephone=no" />

		{{ function('wp_head') }}
	</head>

	<body class="{{ body_class }}">
		{{ function('wp_body_open') }}

		<header class="p-4 bg-gray-200">
			<p>
				<a href="{{ site.link }}">{{ site.name }}</a>
			</p>
			{{ function('get_search_form') }}
		</header>

		{% block content %}

		{% endblock %}

		<footer class="p-4 bg-gray-200">
			<p>
				<a href="{{ site.link }}">{{ site.name }}</a>
			</p>
			<ul>
				{% for item in page_foot_menu.items %}
					<li><a href="{{ item.link }}">{{ item.title }}</a></li>
				{% endfor %}
			</ul>
		</footer>

		{{ function('wp_footer') }}
	</body>
</html>
