<!DOCTYPE html>
<html {{ site.language_attributes }}>
	<head>
		<meta charset="{{ site.charset }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" href="{{ theme.link }}/assets/favicon.ico" />
		<link rel="apple-touch-icon"
			href="{{ theme.link }}/assets/apple-touch-icon.png" />
		{{ function('wp_head') }}
	</head>

	<body class="{{ body_class }}">
		{{ function('wp_body_open') }}

		{{ include('components/page-head/page-head.twig') }}

		{% block content %}

		{% endblock %}

		{{ include('components/page-foot/page-foot.twig') }}

		{{ function('wp_footer') }}
	</body>
</html>
